body{
    background-color:#6F7C7F;
    color:#333333;
    font-family:Calibri;
    margin:0;
}

#header{
    width:100vw;
}

h1{
    color:white;
}

h2 {
    text-align:center;
    color:#6F7C7F;
}

a{
    text-decoration:none;
    color:white;
}

a:link,a:visited{
    color:#1B7FCC;
}

a:hover{
    text-decoration:underline;
}

a:active{
    color:black;
    background-color:black;
}

#navigation ul{
    list-style-type:none;
    padding-left:20px;
    padding-top:10px;
}

#navigation li{
    padding:5px 5px 5px 25px;
    width:150px;
}

#navigation li:hover,#currentpage,#navigation a:active{
    background-color:#9DB0B5;
    color:black;
}

#navigation a{
    color:inherit;
    text-decoration:none;
}

#content{
    padding:0px 20px 0px 20px;
    margin-left:208px;
    margin-bottom:10px;
    height:auto;
    position:absolute;
    left:10px;
    right:10px;
    top:0px;
    bottom:0px;
    background-color:white;
}

#content p{
    margin-left:20px;
}

#content dl{
    margin-left:50px;
}

#rightTable {
   width:100%;
   padding-left:20px;
}

#leftTable {
    width:100%;
    height:auto;
    float:left;
}

#titleTable {
    width:100%;
    height:auto;
}

#leftTableDiv{
    margin-top:1%;
    height:100%;
    width:49%;
    float:left;
    background-color:#F5F5F5;
    margin-right:1%;
}

#rightTableDiv{
    margin-top:1%;
    height:100%;
    width:49%;
    float:right;
    background-color:#F5F5F5;
    margin-left:1%;
}

#TableDiv {
    border-top: solid #6F7C7F;
    height:84%;
}

#loginDiv {
    border: solid #d3d3d3;
    float:left;
    background-color: #F5F5F5;
    margin-left:1.5%;
}

#pageSelection {
    padding-top:8%;
}

#loginForm {
    margin:5%;
}

#clickable {
    color: #050505;
    font-weight:bold;
}

input {
    width:98%;
}

h1 {
    text-shadow: 1px 1px 1px #ccc;
    margin-left: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway, Georgia, Times, serif;
}

h3{
    text-decoration: underline;
}
p, div {
    font-family: 'Nobile', Helvetica, Arial, sans-serif;
}

tr{
    text-align: left;
}
tr:nth-child(even) {
    background-color: #d3d3d3;
    
}

li {
    color:white;
}
